Student Assistant.json
{
  "name": "Student Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -704,
        -96
      ],
      "id": "a00e95b5-978c-4d63-b7c1-2d6c224e9f36",
      "name": "Telegram Trigger",
      "webhookId": "79e94002-9ddd-4ded-99ef-d5a0b5220f0e",
      "credentials": {
        "telegramApi": {
          "id": "Bkp0zGAZ8jKTsiWW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a Student Handbook assistant. You Should Generate and summarize the answer only from the given context.\nIf context is irrelevant to the question, You should say, Sorry ! I can't find relevant information from the knowledge base. Don't provide any additional information\nYou should not generate or interpret any response from your knowledge You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -496,
        -96
      ],
      "id": "1aa59ec8-3993-4045-accd-4e52007f8956",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -624,
        112
      ],
      "id": "366ee764-d7a2-4425-aa0b-6ddf711f2ab2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R5ONmZ4YhDcoC0tC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -480,
        112
      ],
      "id": "bddf26e4-2c74-412a-838a-43db4b0cfc09",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $('Telegram Trigger').item.json.message.text }}",
        "pineconeIndex": {
          "__rl": true,
          "value": "studentassist",
          "mode": "list",
          "cachedResultName": "studentassist"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -352,
        128
      ],
      "id": "b0804ec1-a4e1-49a0-8b1a-6b880d8fed32",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HJfU8QhvcYWXxFTa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        272
      ],
      "id": "281eb737-6f92-4235-87d0-bf78fa56f138",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "R5ONmZ4YhDcoC0tC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -144,
        -96
      ],
      "id": "35b40e50-14ff-4ac9-9382-ea8945fdb47b",
      "name": "Send a text message",
      "webhookId": "ce370b0b-79ab-40e4-97e9-d3b7d6e0b740",
      "credentials": {
        "telegramApi": {
          "id": "Bkp0zGAZ8jKTsiWW",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "848a3bc9-1afc-489b-bc67-af8a5f6bbfb8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19adec0e7b270696b0e6d84175df1adb04b1257fd15041e5e9881651daa931c2"
  },
  "id": "L3ey4kYWNs9QF2oc",
  "tags": []
}